

Body {
    background-color:lightblue;
    padding: 50px; 
    font-size: 16px; 
}
h1 {
    color:red;  

}


header{ 
    background-color: cyan;
   

}
img
 {
    width: 400px;
    height: 300px;
    margin: 0 auto;
     display: block; 

}
#logofooter img{
       width: 30px; 
       height: 30px;  
       display:inline;
}

footer{
      padding: 45px;
      text-align: center;
}

   
@media (max-width: 718px)  {
    header h1{
        font-size: 30px; 
        background-color: blue;
    }

    body{ 
        font-size: 16px;
        color: cyan
    }
    footer{
        font-size: 1rem;
        background-color:aliceblue;
        padding: 10 px;

    }
    #logofooter{
        padding: 10px;
    }
@media (max-width: 600px){
    header{ 
        background-color: purple;

    }
    header h1{
        font-size: 24px;

    }
    #logofooter img{ 
        width: 30px;

    }
}
}    