*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(20, 118, 204) ;
    color: rgb(115, 255, 0) ;
    line-height: 1.6;
}

main, header, footer {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}
.preheader {
    background-color: purple;
    padding: 0.5rem 1rem ;
    text-align: center;
    font-size: 0.9rem;

}
.header {
    background-color: violet;
    color: violet;
    padding: 1rem 0; 
    text-align: center;
}
.logo a{
    text-decoration: none;
    font-size: 1.5rem; 
    font-weight: bold;
    color: white    
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem ;
}
nav ul li a { 
    text-decoration: none;
    color: yellow;
    font-weight: 500px; 
}
section{ 
    margin: 2rem 0 ;
}
section > header {
    margin-bottom: 1rem;
}
section h1 > section h2  {
    color: red; 
    font-size: 2rem ;

}
section p {
    max-width: 600px ;
}
.productos-grid{ 
    display: grid;
    grid-template-columns: repeat(autofit, aimax(250px,1fr));
    gap: 1.5rem ;
}
#vmon {
max-width: 200px;
}
#agumon {
max-width: 200px;
}
#promocion{ 
max-width: 300px;
}
#Garurumon{
max-width: 200px;}
#Terriermon{
max-width: 200px ;
}
.rese単as-conteiner{
display: flex;
gap: 20px;
justify-content: center;
padding: 200px;
}
.rese単a-card {
background-color: #f7f7f7;
border: 1px solid #ccc; 
border-radius: 10px;
padding: 20px;
max-width: 300px;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
}
.rese単a-card .comentario {
font-style: italic;
margin-bottom: 15px;
color: #333;
font-size: 1,1em;
}
.rese単a-card .autor{
margin-top: auto;
text-align: right;
color: black ;
}
